<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasperawatanperangkatlunak">

    <application
        android:allowBackup="true"
        android:label="Tugas Perawatan Perangkat Lunak"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Login sebagai launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">   <!-- WAJIB ditambahkan -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"/> <!-- tidak ada intent-filter, jadi bisa false -->
    </application>
</manifest>